/* write your override styles here */

body {
  display: block;
}
#wall .tag-1 {
  background: url(../images/tag-1.png) no-repeat;
  z-index: 7;
  display: none;
}

#wall div#tag-2 {
  background: url(../images/tag-2.png) no-repeat;
  z-index: 6;
  display: none;
}

#wall div#tag-3.slick.wicked {
  background: url(../images/tag-3.png) no-repeat;
  z-index: 5;
  display: none;
}

#wall div#tag-4 {
  background: url(../images/tag-4.png) no-repeat;
  z-index: 4;
  display: none;
}

div#wall div.parent div#tag-5.slick {
  background: url(../images/tag-5.png) no-repeat;
  z-index: 3;
  display: none;
}

#wall div.parent div:last-child div#tag-6 {
  background: url(../images/tag-6.png) no-repeat;
  z-index: 2;
  display: none;
}

#wall div.parent div > #tag-7.slick {
  background: url(../images/tag-7.png) no-repeat;
  z-index: 1;
  display: block;
}

div#wall div.parent divdiv#tag-6 {
  background: url(../images/tag-6.png) no-repeat;
  z-index: 2;
  display: block;
}

div#wall div.parent div > #tag-7.slick {
  background: url(../images/tag-7.png) no-repeat;
  z-index: 1;
  display: block;
}
  

/*#wall #tag-3.slick.wicked {
  display:none;
}

.parent #tag-4 {
  display:none;
}

#wall .parent #tag-5.slick {
  display: none;
}



#tag-6 {
  display:none;
}*/